<!-- Modal -->
<div class="modal fade" id="steel_fabricator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Steel Fabricator</h4>
      </div>
      <div class="modal-body">
        <ul class="skill-list">
          <li class="skill">
            <h3>Welding Services, Door Repairing, Iron (Mild Steel) Gate </h3>
            <progress class="skill-1" max="100" value="100">
              <strong>Skill Level: 100%</strong>
            </progress>
          </li>
          <li class="skill">
            <h3>Other Steel Works</h3>
            <progress class="skill-2" max="100" value="100">
              <strong>Skill Level: 100%</strong>
            </progress>
          </li>
          <li class="skill">
            <h3>Window, Grill & Industrial Sheds Manufacturing</h3>
            <progress class="skill-3" max="100" value="100">
              <strong>Skill Level: 100%</strong>
            </progress>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <%= form_tag "/",method: "get", remote: true,:id => "html5Form",class: "form-horizontal" do %>
            <div class="width_input input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-phone-square fa-fw"></i></span>
              <%= text_field_tag 'phone_number',nil,:class => "form-control", max: 10,min: 10, pattern: "[7-9]{1}[0-9]{9}",title: "Only 10 Digit Phone Numbers of India are allowed", placeholder: "Your Phone Number",required: true %>
              <%= hidden_field_tag 'page',value: "Steel Fabricator Requested" %>
            </div>
            <button type="button" class="btn btn-default modal_button" data-dismiss="modal">Close</button>
            <%= submit_tag "Demand Help!",class: "modal_button btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>