<!-- Modal -->
<div class="modal fade" id="painter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Painter, Art Painter</h4>
      </div>
      <div class="modal-body">
        <ul class="skill-list">
          <li class="skill">
            <h3>Get our guys for different paint style options</h3>
            <progress class="skill-1" max="100" value="100">
              <strong>Skill Level: 100%</strong>
            </progress>
          </li>
          <li class="skill">
            <h3>Select WallPaper, Texture, Design from our collections </h3>
            <progress class="skill-2" max="100" value="100">
              <strong>Skill Level: 100%</strong>
            </progress>
          </li>
          <li class="skill">
            <h3>Wall, putty, exterior paints</h3>
            <progress class="skill-3" max="100" value="100">
              <strong>Skill Level: 100%</strong>
            </progress>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Demand Help!</button>
      </div>
    </div>
  </div>
</div>