<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Service Request Received from Phone Number <%= @user[:phone_number] %></h1>
<p>Address of the Requestor is <%="City: " + @user[:city] + " Sector: "+ @user[:sectors] %></p>
<p>Please Call the Requestor As soon as possible!.
</p>
<p>Thanks</p>
<p>Demand4Help Email Services

</p>
</body>
</html>